
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
button {
    position: relative;
    border: 2px solid #4d7554;
    background-color: #fff5a4;
   width: 210px;             
    height: 90px;            
    border-radius:  45%; 
    transition: all 0.3s  ease;   
    display: flex;
    align-items: center;
    justify-content: center;

} 
button .default{
    position: absolute;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif; 
}
button .hover-text {
    position: absolute;
    opacity: 0;
    font-size: 21px;
    font-family: 'Merriweather', serif;
}
button:hover {
  background-color: #ffffff; 
  transform: scale(1.05);      
   width: 250px;             
    height: 500px;            
    border-radius:  45%;  
    transition: all 0.3s  ease; 
     background-color: #fff5a4;   
}
button:hover .default{
    align-items: flex-start;
}
button:hover .hover-text{
 opacity: 1;
}
button:hover .default{
    opacity: 0;
}