
.task-page {
  max-width: 500px;
  margin: 120px auto;
  padding: 100px;
  background: #fffacf;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.task-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: linear-gradient(90deg, #9dff00, #2b82f6);;
}


.progress-track {
  width: 100%;
  height: 32px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}


.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #9dff00, #2b82f6);
  transition: width 0.3s ease-in-out;
}


.percent {
  text-align: right;
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}


.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  background: #00ffff;
  transition: background 0.2s ease-in-out;
}

.task-list li:hover {
  background: #f1f1f1;
}

.task-list input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.task-list li.done {
  color: #156829;
  background: #00ffbf;
}


.level-box {
  margin-top: 20px;
  text-align: center;
  padding: 12px;
  border-top: 1px solid #ddd;
}

.level-box p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
} 


