.chat-container {
  margin: 40px auto;
  font-family: Arial, sans-serif;
  padding: 0 16px;
  max-width: 800px;
  height: 700px;
  border-radius: 20px;
}

.chat-title {
  font-size: 24px;
  background: #fffacf;
  align-items: center;
  text-decoration: #25482c;
  border-radius: 70px;
  padding: 3rem;
  box-shadow: 0 1px 20px #00000033;
  width: 100%;
  -webkit-text-fill-color: #2c5334;
}

.chat-title h1 {
  margin-top: 0; 
  font-size: 2rem;
  text-align: center;
}

.chat-title p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
}

.chat-box {
  border: 1px solid #fff495;
  padding: 15px;
  height: 300px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 15px;
  background-color: #fff8bb;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(37, 86, 45, 0.05);
}

.chat-message {
  margin: 10px 0;
  padding: 8px 12px;
  max-width: 80%;
  display: online-block;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}

.bot-message {
  background-color: #9cffea;
  -webkit-text-fill-color: #4d7554;
  text-align: left;
  border-top-left-radius: 0;
  padding: 10px;
}

.user-message {
  background-color: #a5fdb5;
  color: #4d7554;
  text-align: right;
  margin-left: 100px;
  border-top-right-radius: 0;
}

.typing-indicator {
  font-style: italic;
  color: #868672;
  margin-top: 8px;
  font-size: 13px;
}

.chat-form {
  display: flex;
  gap: 10px;
}

.chat-input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.chat-input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.chat-button {
  padding: 15px 16px;
  font-size: 14px;
  background-color: #60d49c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.chat-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chat-button:hover:not(:disabled) {
  background-color: #59b37e;
}

.health-disclaimer {
  padding: 12px;
  font-size: 12px;
  -webkit-text-fill-color: #406a4a;
  margin-top: 8px;
  text-align: center;
}