
.sidebar {
  color: #fffef3;
  padding: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
}

.sidebar-btn {
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff8bd;
  color: #4d7554;
  border: none;
  border-radius: 75px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  width: 100%;
}

.sidebar-btn:hover {
  background: #fffacf;
  box-shadow: 0 0 10px #4d7554;
}

.sidebar-btn .arrow {
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.3s, transform 0.3s;
}

.sidebar-btn:hover .arrow {
  opacity: 1;
  transform: translateY(0);
}

.sidebar-content {
  background: #4d7554;
  padding: 0.75rem;
  border-radius: 0 0 16px 16px;
  gap: 0.5rem;
}

.sidebar-content input {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}
