@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://thumbs.dreamstime.com/b/watercolor-background-green-yellow-blue-colors-raster-abstract-illustration-hand-drawn-gradient-painting-gray-171412473.jpg') no-repeat center center/cover;
}

.header{
    background-color: #fffacf;
    align-items: center;
    text-decoration: #25482c;
    border-radius: 80px;
    padding: 2rem;
    box-shadow: 0 1px 20px #00000033;
    max-width: 800px;
    width: 100%;
    -webkit-text-fill-color:#2c5334
}

.header h1{
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    margin-top: 20px;
}   
.wrapper .input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
}
.wrapper .input-box i {
    position: absolute;
    top: 8px;
    color: #333;
    font-size: 20px;
}
.input-box input:focus i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 120px;
    color: #1f5d86; 
}
.wrapper .remember-forgot {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.wrapper .remember-forgot label input {
    margin-right: 3px;
}
.remember-forgot a :hover {
    color: #1f5d86;
    text-decoration: none;
}
.wrapper .btn {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border: none;
    outline: none;
    cursor: pointer;
}
.wrapper .btn:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
.wrapper .register-link {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-top: 30px;
}
.wrapper .register-link a {     
    color: #1f5d86;
    text-decoration: none;
}
.wrapper .register-link a:hover {
    text-decoration: underline;
}

.header p{
    font-size: 1rem ;
    line-height: 1.6;
    text-align: center;
}

.img1{
display: flex;
position: center;
place-items: center;
object-fit: contain;
width: 100%;
height: 100%;

}
