
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.info-btn {
    position: relative;
    border: 2px solid #4d7554;
    background-color: #fffacf;
    font-size: 20px;
    width: 210px;             
    height: 90px;
    border-radius:  45%; 
    transition: all 0.3s  ease-out;   
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: #4d7554;
    -webkit-text-fill-color: #4d7554;
    margin: 20px;

} 
.info-btn .default{
    position: absolute;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif; 
}
.info-btn .hover-text {
    position: absolute;
    opacity: 0;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    text-decoration: #25482c;
    -webkit-text-fill-color: #2c5334;
}
.info-btn:hover {
   transform: scale(1.05);      
   width: 250px;             
   height: 500px;    
   border-color: #325a3a;        
   border-radius:  45%;  
   transition: all 0.3s  ease; 
   background-color: #fffacf;

}
.info-btn:hover .default{
    align-items: flex-start;
}
.info-btn:hover .hover-text{
    opacity: 1;
}
.info-btn:hover .default{
    opacity: 0;
}
